* {
    margin: 0;
    padding: 0;
}

header {
    background: url("https://www.99designagency.com/images/banner-bgs.jpg") no-repeat center/cover;
    background-size: auto;
    z-index: -1;
    width: 100%;
    /* top: 500px;
    left: 0px;
    height: 950px; */
}


body {
    font-family: 'Poppins' !important;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


.home-gradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg,
            rgba(227, 80, 184, 0.85) 0%,
            rgba(81, 78, 188, 0.85) 100%);
    opacity: 0.94;
}

.headernav {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
}

.headernav::before {
    content: "";
    background: linear-gradient(135deg,
            rgba(227, 80, 184, 0.85) 0%,
            rgba(81, 78, 188, 0.85) 100%);
    opacity: 0.9;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid white;
    border-width: 75%;
}

.headernav .nav-menu ul {
    height: 80px;
    align-items: center;
    display: flex;
    z-index: 5;
}

.headernav .nav-menu ul li {
    margin: 0px 15px 0px 15px;
    list-style: none;
    z-index: 5;
}

.headernav .nav-menu ul li a {
    color: white;
    display: block;
    padding: 8px 25px;
    border-radius: 20px;
    text-decoration: none;
}

.headernav .logo {
    font-family: 'Playball', sans-serif !important;
    text-decoration: none !important;
    color: white !important;
    font-weight: normal;
    font-size: 25px;
    margin-right: 50px;
    z-index: 5;
}

.logo {
    padding-left: 50px;
}

#designlogo {
    color: white;
    text-decoration: none;
}

.sincere {
    font-weight: bold;
}

.ourdesign {
    background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
    color: #fff;
}

.rnd-btn {
    background-image: linear-gradient(90deg, #f92c8b 0%, #8d19ae);
    border-radius: 25px;
}

.rndbtn:hover {
    color: rgb(139, 0, 109);
    text-decoration: underline;
    border: white;
}

.rnd-btn:hover {
    color: rgb(139, 0, 109);
}

.slider {
    display: flex;
    align-items: center;
    height: 800px;
}

.slider .container {
    font-family: 'Poppins';
    font-weight: bold;
    color: white;
    width: 100%;
    justify-content: left;
    margin-left: 140px;
}

/* .container {
    position: absolute;
    left: 20%;
}

.container span {
    font-size: 20px;
    font-weight: bold;
    text-align: center !important;
} */

#slider-content-line1 {
    margin: 22px 0px;
    color: #fff;
    font-weight: bold;
}

#slider-content-line2 {
    font-size: 36px;
    color: #fff;
    font-weight: 100;
}

#slider-content-line3 {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
}

.demo {
    padding: 0px !important;
}


#mobile-no {
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 21px;
    background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
    border-radius: 2px;
    padding: 16px;
    height: auto;
    color: white;
    width: max-content;
}

#mobile-no2 {

    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 21px;
    background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
    border-radius: 2px;
    padding: 16px;
    height: auto;
    color: white;
    width: max-content;

}

#mobile-no:hover {
    cursor: pointer;
    color: darkblue;
    text-decoration: underline;
}

#call-us {
    font-size: 43px;
    margin: 0px 0px 50px 0px;
    color: #fff;
}

.btnz {
    width: 100%;
    color: #fff !important;
    margin-top: 30px;
}

#btnz-1 {
    cursor: pointer;
    background-image: linear-gradient(90deg, #f92c8b 0%, #8d19ae);
    background-color: #e350b8;
    border-radius: 12px;
    padding: 20px 35px;
    margin-right: 10px;
    font-size: 14px;
    width: auto !important;
    color: white;
    flex: unset !important;
    text-decoration: none;
}

#btnzmob{
    cursor: pointer;
    background-image: linear-gradient(90deg, #f92c8b 0%, #8d19ae);
    background-color: #e350b8;
    border-radius: 12px;
    padding: 20px 35px;
    margin-right: 10px;
    font-size: 14px;
    width: auto !important;
    color: white;
    flex: unset !important;
    text-decoration: none;
}

#btnzmob:hover{
    cursor: pointer;
    color: gray;
    text-decoration: none;
}

#mobile-no2{
    text-decoration: none;
}

#mobile-no2:hover{
    text-decoration: none;
}

#btnz-1:hover {
    cursor: pointer;
    color: gray;
    text-decoration: none;
}

#btnz-2 {
    font-size: 14px;
    background-color: white;
    border-radius: 12px;
    color: #e350b8;
    padding: 20px;
    width: max-content !important;
    flex: unset !important;
}

#btnz-2:hover {
    background-image: linear-gradient(90deg, #f92c8b 0%, #8d19ae);
    cursor: pointer;
    color: white;
}

#form {
    border: 5px;
    background-color: white;
    height: 100%;
}

@media (min-width: 576px) {
    #form {
        flex: 0 0 45%;
        width: 80%;
    }
}

#formtitle {
    font-size: larger;
}

#form .form-container span {
    font-weight: bolder;
    font-size: 24px;
    text-align: center !important;
}


.create {
    width: 100% !important;
}

.form-content input {
    display: block;
    text-align: left;
    margin: 8px auto;
    padding: 25px;
    margin: 20px 0px;
    width: 100%;
    height: 20px;
    border-style: none;
    -webkit-box-shadow: 0 5px 10px #0000001f;
    box-shadow: 0 5px 10px #0000001f;
}

textarea {
    color: rgb(93, 90, 90);
    font-weight: lighter;
    width: 395px;
    height: 110px;
    border-style: none;
}


.contact-btn {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-image: linear-gradient(90deg, #f92c8b 0%, #8d19ae);
    background-color: #e350b8;
    width: 100%;
    height: 60px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
}

#icon-section {
    padding: 70px 0px;
    z-index: 0;
}

.containers {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.containers::before {
    display: table;
    content: "";
    z-index: 0;
}


.row {
    width: 100% !important;
    margin-left: 0 !important;
}

.col-md-2,
.col-xs-4 {
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    z-index: -1;
}

#icon-section .product {
    border: 1px solid #efeeeecc;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
    z-index: 1 !important;
}

.product:hover {
    cursor: hand;
    cursor: pointer;
    opacity: 0.9;
}

.icon-section_title {
    font-size: 13px;
    height: 3em;
    line-height: 23px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.icon img {
    width: 40px !important;
    vertical-align: middle;
    border: 0;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.cost {
    background-color: rgba(227, 80, 184, 0.1);
    height: auto;
    z-index: -1;
}

.section .cost-margin {
    margin-top: 40px;
    margin-bottom: 50px;
}

.section .service-margin {
    margin-bottom: 50px;
}

.section .section-title {
    margin-top: 60px;
    margin-bottom: 70px;
}

.section .section-title h1 {
    text-align: center;
    margin: 0;
    opacity: 0.1 !important;
    font-weight: bold;
    font-size: 80px;
    /* bottom: 80%; */
}

.boxes {
    width: 185px !important;
    display: block;
    text-decoration: none;
    color: black;
}

.boxes:hover {
    text-decoration: none;
    color: grey;
}

.servicetitle {
    padding-top: 25px;
    position: absolute !important;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
    font-weight: 1200 !important;
}

.services .services-content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -30px;
}



.pack {
    width: 350px !important;
    background-color: #fff;
    text-align: center;
    padding: 40px 30px !important;
    margin: 30px !important;
    border-radius: 30px;
    -webkit-box-shadow: -1px 0px 43px 0px rgb(0 0 0 / 14%);
    box-shadow: -1px 0px 43px 0px rgb(0 0 0 / 14%);
    position: unset !important;
}

@media (min-width: 576px) {
    .pack {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 30% !important;
        flex: 0 0 30% !important;
        max-width: 50% !important;
    }
}


/* .pack {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 3rem !important;
    text-align: center !important;
    box-shadow: 0 0.313rem 0.875rem rgb(45 49 54 / 9%);
} */

.pack .pack-title {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
    letter-spacing: 1px;
    opacity: 0.8;
    text-transform: uppercase !important;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
}

.pack-title {
    color: #929292;
}

.pack .pack-price {
    font-size: 3em;
    color: #e350b8;
    font-weight: 700;
    margin: 15px 0;
    line-height: 1.3;
    text-align: center !important;
}

.pack ul {
    margin: 10px 0 30px;
    list-style-type: none;
    padding: 0;
}

.pack .pack-icon img {
    display: block;
    height: 64px;
    margin: auto;
}

.pack ul li {
    padding-top: 15px !important;
    border-top: 1px solid #dee2e6 !important;
    padding-bottom: 15px !important;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    color: #565656;
    padding: 5px 0;
}

.pricing-btn {
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-image: linear-gradient(90deg, #f92c8b 0%, #8d19ae);
    background-color: #e350b8;
    border: none;
    text-decoration: none;
    border-radius: 6px !important;
    padding: 18px 30px;
}

/* about */
/* .section .section-title h2 {
    position: relative;
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-size: 40px;
    z-index: -1;
    bottom: 20%;
}

.section .section-title h2:before {
    content: attr(data-title);
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.07;
    font-weight: 500;
    font-size: 90px;
    position: relative !important;
} */

.about .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
    width: 100%;
}

.about .about-content .about-video a {
    display: block;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}


a {
    cursor: pointer !important;
    text-decoration: none;
    color: #fff;
}

.about .about-content .about-video a:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.about .about-content .about-video a>img {
    width: 100% !important;
}

.about .about-content .about-text {
    min-width: 350px;
}

.about .about-content .about-text .section-sub-heading {
    position: relative;
    width: min-content;
    padding-left: 14px;
    margin: 0 0 20px;
    font-size: 30px;
    font-weight: 500;
}

.about .about-content .about-text .section-sub-heading:before {
    top: 0;
    background-color: rgba(115, 123, 142, 0.2);
}

.about .about-content .about-text .section-sub-heading:after,
.about .about-content .about-text .section-sub-heading:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    height: 50%;
    width: 1px;
}

.about .about-content .about-text .section-sub-heading:after {
    bottom: 0;
    background-color: #e350b8;
}

.about .about-content .about-text p {
    margin: 0;
    color: #7f8186;
    line-height: 1.6;
    font-size: 18px;
}

/* Services */
.services .content {
    margin-bottom: -30px;
}

.services .content .services-item {
    background-color: #fff;
    text-align: center;
    padding: 30px 40px;
    margin-bottom: 30px;
    border-radius: 30px;
    box-shadow: -1px 0px 43px 0px rgb(0 0 0 / 14%);
    width: 345px;
}

.container {
    max-width: 1230px !important;
}

.services .content .services-item .services-item-icon img {
    display: block;
    height: 64px;
    margin: auto;
}

.services .content .services-item .services-title {
    font-size: 22px;
    font-weight: 500;
    margin: 20px 0 10px;
}

.services .content .services-item p {
    margin: 0px 0px 30px;
    color: #7f8186;
    line-height: 1.6;
}

#contact ul {
    list-style: none;
    display: block;
    padding-right: 15%;
}

#contact ul li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

#contact ul li i {
    color: #fff;
    display: inline-block;
    height: 45px;
    width: 45px;
    line-height: 45px;
    background: linear-gradient(135deg,
            rgba(227, 80, 184, 0.85) 0%,
            rgba(81, 78, 188, 0.85) 100%);
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    font-weight: 400;
    margin-right: 1rem !important;
}

#contact ul li p,
#contact ul li a {
    -ms-flex-item-align: center !important;
    align-self: center !important;
    -ms-flex: 1;
    color: #444;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    flex: 1;
}

.contact .contact-form {
    max-width: 700px;
    margin: auto;
}

.contact .contact-form .small-fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .contact-form .small-fields .form-group {
    width: 100%;
    margin-bottom: 18px;
}

.contact .contact-form input,
.contact .contact-form textarea {
    font-size: 14px;
    height: 50px;
    padding: 0 15px;
    border: none;
    -webkit-box-shadow: 0 5px 10px #0000001f;
    box-shadow: 0 5px 10px #0000001f;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: #444;
}

.contact .contact-form .border-bottom {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block;
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: #514ebc;
}

.col-lg-6 {
    width: 50%;
    font-size: 14px;
    font-weight: 500;
}

.contact .contact-form input,
.contact .contact-form textarea {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(115, 123, 142, 0.2);
    outline: 0;
}

.contact .contact-form textarea {
    height: 160px;
    padding: 15px;
}

.rounded-btn.main-color-two.fill {
    background-image: linear-gradient(90deg, #514ebc 0%, #17354a);
    background-color: #514ebc;
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid;
    border-radius: 50px;
    cursor: pointer;
}

.full-view {
    height: 60px;
    border-radius: 8px !important;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    padding: 18px 30px !important;
    margin-top: 0rem !important;
    display: block;
    width: 100%;
    color: #fff !important;
}

@media (max-width: 950px) {
    .ourdesign {
        display: none;
    }

    .rndbtn {
        display: none;
    }
}

@media (min-width: 768px){
    #mobile-no2{
        display: none;
    }

    #btnzmob{
        display: none;
    }
}
@media (max-width: 768px) {
    .section .div-margin {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .about-content {
        padding-bottom: 6px;
    }

    .bg-shapes {
        height: 0px;
    }

    .contact-content {
        padding-bottom: 50px;
    }

    .whatsapp,
    #Scroll-To-Top {
        display: none;
    }

    .mobile-footer {
        display: block !important;
    }

    .w-app {
        display: none;
    }

    .mobile-footer .container {
        padding: 0px 15px !important;
    }

    footer {
        display: none !important;
    }

    #slider-content-line1 {
        display: none;
    }

    #slider-content-line2 {
        display: none;
    }

    #slider-content-line3 {
        text-align: center;
        padding-top: 170px;
        padding: 35px;

    }

    .mobile-row {
        display: none !important;
    }

    #mobile-no{
        display: none;
    }


    .sincere {
        display: none;
    }
}


.mobile-footer {
    display: none;
    z-index: 10;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135deg, rgb(227 80 184) 0%, rgb(81 78 188) 100%);
    color: #000;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    box-shadow: 0px 20px 32px 0 rgb(53 78 84 / 87%);
}

.col-xs-3 {
    width: 25% !important;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-mobile {
    color: #fff;
    width: 100%;
    font-size: 10px;
}

@media (min-width: 821px) {
    .fast-response {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .fast-response {
        color: #fff;
        font-weight: bold;
    }
}

.logoheader {
    color: white;
    text-decoration: none;
}

.logoheader:hover {
    color: white;
    text-decoration: none;
}

/* footer {
    background-color: #2e323a;
    display: block;
}

@media (min-width: 1060px){
    footer {
        background-color: p;
    }
    }

footer .div-margin .footer-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 60px;
    width: 100%;
}

footer .div-margin .footer-top .widget {
    width: calc((100% / 4) - 30px);
    line-height: 1.4;
}

footer .div-margin .footer-top .widget .widget-title {
    color: #f1f1f1;
    font-weight: 500;
    margin: 0 0 22px;
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer .div-margin .footer-top .widget.links ul li:not(:last-of-type),
footer .div-margin .footer-top .widget.contact-widget ul li:not(:last-of-type) {
    margin-bottom: 10px;
}

.widget-content li,
.widget-content a {
    color: #babdc4;
}

.widget-content li,
.widget-content a {
    color: #babdc4;
}

footer .div-margin .footer-top .widget.contact-widget ul li:before {
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 5px;
} */